@if $use-fw == true {

/* 
   $fw
   ========================================================================== */

.fw-n 	{ font-weight: 400; }  
.fw-sb 	{ font-weight: 600; }  
.fw-b 	{ font-weight: 700; } 

} //end if