@if $use-ta == true {

/* 
   $ta
   ========================================================================== */

.ta-st 	{ text-align: $st; }  
.ta-c 	{ text-align: center; }  
.ta-nd	{ text-align: $nd; }  

} //end if