// ========================================================================== 
// $ATOMS 
// ========================================================================== 

//
// $ORIENTATION
// ========================================================================== 

$st:		left;
$nd:		right;

//
// $FONT
// ========================================================================== 

$fz-xs:		12px;
$fz-s:		14px;
$fz-m:		16px;
$fz-l:		24px;
$fz-xl:		30px;
$fz-xxl:	48px;

//
// $SPACING
// ========================================================================== 

$sp-xs:		6px;
$sp-s:		12px;
$sp-m:		24px;
$sp-l:		36px;
$sp-xl:		48px;

//
// $RADIUS
// ========================================================================== 

$ra-xs:		2px;
$ra-s:		4px;
$ra-m:		6px;
$ra-l:		8px;
$ra-xl:		10px;
