// ========================================================================== 
// $ATOMS 
// ========================================================================== 

//
// $MARGINS
// ========================================================================== 

$use-ma:	true;
$use-mt:	true;
$use-mb:	true;
$use-ml:	true;
$use-mr:	true;

//
// $NEGATIVES
// ========================================================================== 

$use-nma:	true;
$use-nmt:	true;
$use-nmb:	true;
$use-nml:	true;
$use-nmr:	true;

//
// $PADDING
// ========================================================================== 

$use-pa:	true;
$use-pt:	true;
$use-pb:	true;
$use-pl:	true;
$use-pr:	true;

//
// $RADIUS
// ========================================================================== 

$use-ra:	true;

//
// $TEXT
// ========================================================================== 

$use-ta:	true;
$use-va:	true;
